.md {
  page-home {
    img {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      display: block;
    }
  }
}
page-home {
  .no-padding {
    padding-left: 0;
  }
  .item-inner {
    margin-right: -5px;
  }
  .no-wrap {
    white-space: nowrap;
  }
  .lines {
    border-top: 0.5px solid gray;
    border-bottom: 0.5px solid gray;
  }
}
