<ion-header>
  <ion-navbar>
    <ion-title><img src="assets/imgs/rebelthon_secondary.png" /></ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
      <ion-card>
        <ion-card-header>
          Upcoming Events
        </ion-card-header>
        <ion-card-content>
          <ion-list>
          <ion-item class="no-padding" detail-push *ngFor="let event of events | async" (click)="openModal({charNum: 0})">
          <ion-thumbnail item-start>
            <!-- <img src="img/thumbnail-totoro.png"> -->
            <p padding-vertical>{{ event.date }}<br>{{ event.time }}</p>

          </ion-thumbnail>
          <!-- <img [src]="post.data.url" /> -->
          <h3>{{ event.name }}</h3>
          <p>{{ event.place }}</p>

        </ion-item>
        </ion-list>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          Past Events
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item class="no-padding" detail-push *ngFor="let event of events | async" (click)="openModal({charNum: 0})">
            <ion-thumbnail item-start>
              <!-- <img src="img/thumbnail-totoro.png"> -->
              <p padding-vertical>{{ event.date }}<br>{{ event.time }}</p>

            </ion-thumbnail>
            <!-- <img [src]="post.data.url" /> -->
            <h3>{{ event.name }}</h3>
            <p>{{ event.place }}</p>
          </ion-item>
        </ion-list>
        </ion-card-content>
      </ion-card>

</ion-content>
