<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      <img src="assets/imgs/rebelthon_logo_white.png" />
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="outer-content" *ngIf="isLoggedIn == false">
  <h3 class="center">It seems you aren't logged in!<br><br>
  Click on the button below to login so we can show you your dancer portal!</h3>
  <button ion-button block (click)="login()"><ion-icon name="log-in"></ion-icon>&nbsp;&nbsp;Login</button>
</ion-content>

<ion-content class="outer-content" *ngIf="isLoggedIn == true">
  <ion-list no-border *ngFor="let detail of profile | async">

    <ion-list-header>
      Donor Drive Portal
    </ion-list-header>

    <ion-item>
      <ion-icon name='contact' item-start></ion-icon>
        Name
      <ion-note item-end>
        {{ detail.name }}
      </ion-note>
    </ion-item>

    <ion-item>
      <ion-icon name='contacts' item-start></ion-icon>
      <ion-label>
        Team
      </ion-label>
      <ion-note item-end>
        {{ detail.team }}
      </ion-note>
    </ion-item>

    <ion-item>
      <ion-icon name='finger-print' item-start></ion-icon>
      <ion-label>
        ID
      </ion-label>
      <ion-note item-end>
        {{ detail.userId }}
      </ion-note>
    </ion-item>

    <div padding-horizontal>
      <button ion-button block (click)="copy(link)"><ion-icon name="copy"></ion-icon>&nbsp;&nbsp;Copy Donor Drive Link</button>
      <button ion-button block (click)="openWeb(link)"><ion-icon name="open"></ion-icon>&nbsp;&nbsp;Open Drive on the Web</button>
    </div>
  </ion-list>

  <ion-list>
    <ion-list-header>
      Fundraising Summary
    </ion-list-header>

    <div #frame style="width:100%;overflow:scroll !important;-webkit-overflow-scrolling:touch !important">
      <!-- <iframe src="https://events.dancemarathon.com/index.cfm?fuseaction=donorDrive.participant&participantID=324978" sandbox="allow-forms allow-scripts" class="iframe" scrolling="yes" ></iframe> -->
      <img class="img-center" [src]="imageUrl" (load)="markAsLoaded()" ng-if="imageLoaded">
      <!-- <img-loader *ngIf="imageUrl" useImg src="{{imageUrl}}" ></img-loader> -->

    </div>
  </ion-list>

</ion-content>
